{% extends 'app1/base.html' %}
{% load static %}
{% block container %}

<section id="page-header" class="about-header" style="background-image: url('{% static 'app1/b1.jpg' %}');">
  <h2>#Lets talk</h2>
  <p>Leave a message we want to hear from you</p>
</section>

<section id="contact-details" class="section-p1">
  <div class="details">
      <span>GET IN TOUCH</span>
      <h2>Visit at our site today</h2>
      <h3>Head office</h3>
      <div>
          <li>
              <i class="fal fa-map"></i>
              <p>Kinondoni Dar es Salaam</p>
          </li>
          <li>
              <i class="far fa-envelope"></i>
              <p>info@mccoln.com</p>
          </li>
          <li>
              <i class="fas fa-phone-alt"></i>
              <p>+255 748 121 594</p>
          </li>
          <li>
              <i class="far fa-clock"></i>
              <p>Monday to Sunday 9.00am 10.00pm</p>
          </li>
      </div>
  </div>
  <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15847.971570989184!2d39.210519846120285!3d-6.770717883445037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4f269aa52ae9%3A0xe875f348d72724f5!2sSKYCITY%20MALL!5e0!3m2!1ssw!2stz!4v1721494324460!5m2!1ssw!2stz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<section id="form-details">
  <form action="" method="POST">
    {% csrf_token %}
      <span>LEAVE MESSAGE</span>
      <h2>We love to hear from you</h2>
      <input type="text" name="name" placeholder="Your name">
      <input type="email" name="email" placeholder="E-mail">
      <input type="text" name="subject" placeholder="Subject">
      <textarea name="message" id="" cols="30" rows="10" placeholder="Your message"></textarea>
      <button class="normal" type="submit">Submit</button>
  </form>
  <div class="people">
      <div>
          <img src="{% static 'app1/people1.png' %}" alt="">
          <p>
              <span>Cornel Mtavangu</span>
              Company Founder <br>
              Phone: +255 748 121 594 <br>
              Email: cornel@mccoln.com
          </p>
      </div>
      <div>
          <img src="{% static 'app1/people2.png' %}" alt="">
          <p>
              <span>Regan Mwaigomole</span>
              Managing Director <br>
              Phone: +255 748 121 594 <br>
              Email: cornel@mccoln.com
          </p>
      </div>
      <div>
          <img src="{% static 'app1/people3.png' %}" alt="">
          <p>
              <span>Titho Ngailo</span>
              Marketing Head <br>
              Phone: +255 748 121 594 <br>
              Email: cornel@mccoln.com
          </p>
      </div>
  </div>
</section>

{% endblock %}